<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>eCommerceWebApp</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="images/logo.png" alt="logo" width="400px" height="80px">
                </div>
                <nav>
                    <ul id="menuItems">
                        <li><a href="">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
                <img src="images/cart.svg" alt="" width="30px" height="30px">
                <img class="menu-icon" src="images/menu.png" alt="mneu" width="30px" height="30px" onclick="menutoggle()">
            </div>

            <div class="row">
                <div class="col-2">
                    <h1>Give Your Workout <br> A New Style!</h1>
                    <p>Sucess isn't always about greatness. It's about consistency. Consistent <br> hard work gains sucess. Greatness will come.</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="images/img.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- featured category -->
    <div class="container">
        <div class="categories">
            <div class="row">
                <div class="col-3">
                    <img src="images/img2.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/img2.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/img2.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->
    <div class="container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/products/p1.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p2.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p1.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p2.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            
        </div>
    </div>

    <!-- Latest products -->
    <div class="container">
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/products/p3.jpeg" alt="product1">
                <h4 class="product-title">Head Phones</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p4.jpeg" alt="product1">
                <h4 class="product-title">Watches</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p5.jpg" alt="product1">
                <h4 class="product-title">Bluetooth Headset</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p6.jpeg" alt="product1">
                <h4 class="product-title">Attractive Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
        </div>
    </div>
    <!-- Offer -->
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="images/products/p5.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Avilable on eCommerceWebApp</p>
                    <h1>Smart Brand 4</h1>
                    <small>The Mi Brand features 39.9% larger than before. More softer than before. More battery life. Mrore power saver.</small> <br>
                    <a href=""class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonil -->
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab excepturi eaque repudiandae sapiente ullam cumque quaerat ducimus rem amet nobis facilis natus, praesentium voluptates dolorem iure velit ut suscipit non!</p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <img src="images/users/img1.jpg" alt="user-image" class="user-img">
                    <h3>John Doe</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab excepturi eaque repudiandae sapiente ullam cumque quaerat ducimus rem amet nobis facilis natus, praesentium voluptates dolorem iure velit ut suscipit non!</p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <img src="images/users/img2.jpeg" alt="user-image" class="user-img">
                    <h3>Jeny Doe</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab excepturi eaque repudiandae sapiente ullam cumque quaerat ducimus rem amet nobis facilis natus, praesentium voluptates dolorem iure velit ut suscipit non!</p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <img src="images/users/img3.png" alt="user-image" class="user-img">
                    <h3>Johny Doe</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- ----footer---- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and ios mobile phone</p>
                    <div class="app-logo">
                        <img src="images/play-store.png" alt="">
                        <img src="images/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/white.png" alt="">
                    <p>Our Purpose is to sustainably make the pleasure and benifits of sport accessible to the many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Cupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow US</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Yotube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright-2021 - eCommerceWebApp</p>
        </div>
    </div>
<!-- js for toggle menu -->
    <script>
        var menuItems = document.getElementById('menuItems');
        menuItems.style.maxHeight = "0px";
        const menutoggle = () => {
            if(menuItems.style.maxHeight == "0px"){
                menuItems.style.maxHeight = "200px";
            }
            else{
                menuItems.style.maxHeight = "0px"
            }
        }
    </script>
</body>
</html>