<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="productDetails.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Product Details - eCommerceWebApp</title>
</head>
<body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="logo" width="400px" height="80px"></a>
                </div>
                <nav>
                    <ul id="menuItems">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><img src="images/cart.svg" alt="" width="30px" height="30px"></a>
                <img class="menu-icon" src="images/menu.png" alt="mneu" width="30px" height="30px" onclick="menutoggle()">
            </div>
        </div>

    <!-- Single Product Details -->
    <div class="container single-product">
        <div class="row">
            <div class="col-2">
                <img src="images/products/h2.jpg" alt="" id="product-img">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="images/products/h1.jpg" alt="" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/products/h2.jpg" alt="" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/products/h3.jpg" alt="" class="small-img">
                    </div>
                </div>
            </div> 
            <div class="col-2">
                <p>Home / Head Phone</p>
                <h1>boAt Rockerz 400 Bluetooth Headset</h1>
                <h4>&#8377; 499</h4>
                <select>
                    <option>Select Colour</option>
                    <option>Red</option>
                    <option>Black</option>
                    <option>Blue</option>
                    <option>Grey</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add To Cart</a>
                <h3>Product Details <i class="fa fa-indent" aria-hidden="true"></i></h3>
                <br>
                <p>
                    If you want to enjoy immersive entertainment on the move without any strings attached, then buy the boAt Rockerz 400 Super Extra Bass Bluetooth Headset. This powerful headset features 40-mm Dynamic Drivers, a Passive Noise Cancellation technology, and a Dual Mode to let you dive into your favorite music without interruption or physical limitations.</p>
            </div>
        </div>
    </div>

    <!-- tittle -->
    <div class="container">
        <div class="row row2">
            <h2>Related Products</h2>
            <a href="">View More</a>
        </div>
    </div>

    <!-- products -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="images/products/p1.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p2.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p1.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
            <div class="col-4">
                <img src="images/products/p2.jpg" alt="product1">
                <h4 class="product-title">Cotton Jeans Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>&#8377; 499</p>
            </div>
        </div>
    </div>

    <!-- ----footer---- -->
    <div class="footer">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="images/play-store.png" alt="">
                    <img src="images/app-store.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/white.png" alt="">
                <p>Our Purpose is to sustainably make the pleasure and benifits of sport accessible to the many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Cupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow US</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Yotube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright-2021 - eCommerceWebApp</p>
    </div>
<!-- js for toggle menu -->
    <script>
        var menuItems = document.getElementById('menuItems');
        menuItems.style.maxHeight = "0px";
        const menutoggle = () => {
            if(menuItems.style.maxHeight == "0px"){
                menuItems.style.maxHeight = "200px";
            }
            else{
                menuItems.style.maxHeight = "0px"
            }
        }
    </script>

    <!-- Js for product gallery -->

    <script>
        var ProductImg = document.getElementById('product-img');
        var SmallImg = document.getElementsByClassName('small-img');

        SmallImg[0].onclick = function() {
            ProductImg.src = SmallImg[0].src;
        } 
        SmallImg[1].onclick = function() {
            ProductImg.src = SmallImg[1].src;
        }  
        SmallImg[2].onclick = function() {
            ProductImg.src = SmallImg[2].src;
        }         
    </script>
</body>
</html>