.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.col-4 img{
    width: 100%;
    height: 50vh;
}
.col-4 p{
    font-size: 14px;
}
.title{
    text-align: center;
    margin: 50px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.product-title{
    color: #555;
    font-weight: normal;
}
.rating .fa{
    color: #ff523b;
}
.no_of_reviews{
    color: #555;
}