.header{
    grid-area: header;
    background-color: #06396b;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.header-links a{
    color: #ffffff;
    margin-left: 1rem;
    /* font-weight: bold; */
}

.header-links a:hover{
    color: #ff8000;
}