 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 700;
  margin-bottom: 80px;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

.wrapper form .btn{
  width: 100%;
  margin:0px;
}

.wrapper form .float-right{
  float: right;
  
} 

.rounded-circle{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
