 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 700;
  margin-bottom: 80px;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

.wrapper form .btn{
  width: 100%;
  margin:0px;
}

.wrapper form .float-right{
  float: right;
  
} 

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

