#shipping_btn{
  margin-top: 10px;
}
/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}



/* Checkout Steps */

.checkout-progress div {
box-sizing: border-box;
}

.checkout-progress {
display: block;
clear: both;
margin: 20px auto;
width: auto;
font-family: sans-serif;
overflow: auto;
}

.step {
margin: 0;
border: 0;
letter-spacing: 1px;
line-height: 30px;
padding: 5px 10px 5px 15px;
color: grey;
text-decoration: none;
cursor: default;
font-weight: bold;
float: left;
height: auto;
}

.incomplete {
background: #eeeeee;
}

.active-step {
background: #fa9c23;
color: #fff;
}

.triangle-active {
float: left;
width: 0;
border-top: 20px solid transparent;
border-left: 15px solid #fa9c23;
border-bottom: 20px solid transparent;
margin-left: -1px;
}

.triangle2-active {
width: 0;
float: left;
border-top: 20px solid #fa9c23;
border-left: 15px solid #fff;
border-bottom: 20px solid #fa9c23;
margin-right: -1px;
}

.triangle-incomplete {
float: left;
width: 0;
border-top: 20px solid transparent;
border-left: 15px solid #eeeeee;
border-bottom: 20px solid transparent;
margin-left: -1px;
}

.triangle2-incomplete {
width: 0;
float: left;
border-top: 20px solid #eeeeee;
border-left: 15px solid #fff;
border-bottom: 20px solid #eeeeee;
margin-right: -1px;
}